./PlantTracker/bin
./PlantTracker/object
./PlantDAL/bin
./PlantDAL/object
/PlantDAL/PlantDAL/bin/Debug
/PlantDAL/PlantDAL/obj/Debug
/PlantTracker/bin
/PlantTracker/PlantDAL/obj
/.vs/PlantTracker/v15/Server/sqlite3/db.lock
/.vs/PlantTracker/v16/Server/sqlite3/db.lock
